{% extends 'base.html' %}

<!doctype html>

<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block title %} Title of Form1 {% endblock %}
  </head>
  {% block body %}
  <div class="container">
    <h1>Form1 sameer-test-branch</h1>
    <form method="POST" action=" /form1/">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Item name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name= "item" placeholder="laptop">
        </div>
        <!-- <div class="form-group">
            <label for="exampleFormControlInput1">Quantity </label>
            <input type="number" class="form-control" id="exampleFormControlInput1" name= "quantity" placeholder="1,2,3">
          </div>     -->
         <div class="form-group">
          <label for="exampleFormControlSelect1">Quantity</label>
          <select class="form-control" input type="number" id="exampleFormControlSelect1" name= "quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div> 
        <div class="form-group">
            <label for="exampleFormControlInput1">Vendor name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name= "vendor" placeholder="Nokia">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Inward Number</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" name= "inward" placeholder="2569">
          </div>
          {% comment %} <div class="form-group">
            <label for="exampleFormControlInput1">Date</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" name= "date" >
          </div>         {% endcomment %}
          <button type="submit" > Submit</button>
      </form>
      <a href="{% url 'export-csv' %}" class = "btn btn-secondary">Export CSV</a>
       {% endblock %}
     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>